.nav {
  outline: 5px solid red;
  outline-offset: -5px;
}
.nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    width: 960px;
  }
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    color: $white;
  }
}
.site-list {
  outline: 5px solid green;
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    width: 570px;
  }
  @media (min-width: $desktop-width) {
    width: 780px;
  }
}
.user-list {
  outline: 5px solid green;
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    width: 60px;
  }
}
