@media (max-width: $mobile-width-only) {
  .slider {
    &__list {
      display: flex;
    }

    &__item {
      display: none;
    }

    &__item--active {
      display: block;
    }

    &__toggles {
      display: flex;
      justify-content: center;
    }

    &__toggle {
      margin: 0;
      padding: 0;
      width: 10px;
      height: 10px;
      margin-right: 15px;
      background-color: transparent;
      outline: 0;
      border: none;
      border: 2px solid #fff;
      transform: rotate(45deg);
      cursor: pointer;
    }

    &__toggle--current {
      background-color: #fff;
    }
  }
}
.slider2 {
  &__list {
  }

  &__item {
  }

  &__item--active {
  }

  &__toggles {
  }

  &__toggle {
  }

  &__toggle--current {
  }
}
